<div id="viewForm" class="view tab">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">{{ _('Create Note') }}</div>
            <div class="right"><a href="{{ url_for('create_kind') }}" class="link icon-only"><i class="icon iconfont icon-jia"></i> {{ _('add kind') }}</a>
            </div>
        </div>
    </div>
    <div class="pages navbar-through toolbar-through">
        <div data-page="note-kind" class="page">
            <div class="page-content pull-to-refresh-content refresh-kinds">

                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>

                <div class="content-block-title">{{ _('select a kind') }}</div>
                <div class="list-block note-kind">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
