<div id="viewForm" class="view tab">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">{{ _('training plan') }}</div>
        </div>
    </div>
    <div class="pages navbar-through toolbar-through">
        <div data-page="select-plan" class="page">
            <div class="page-content">
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="{{ url_for('create_plan') }}" class='item-link item-content'>
                                <div class='item-inner'>
                                    <div class='item-title'>{{ _('create plan') }}</div>
                                    <div class='item-after'></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('create_dairy') }}" class='item-link item-content'>
                                <div class='item-inner'>
                                    <div class='item-title'>{{ _('create dairy') }}</div>
                                    <div class='item-after'></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('create_kind') }}" class='item-link item-content'>
                                <div class='item-inner'>
                                    <div class='item-title'>{{ _('create kind') }}</div>
                                    <div class='item-after'></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content-block-title">{{ _('select plan') }}</div>
                <div class="list-block plans-of-mine">
                    <ul>
                        {% if user %}
                            {% for plan in user.plans %}
                            <li>
                                <a href="{{ url_for('plan_item', pk=plan.pk) }}" class='item-link item-content'>
                                    <div class='item-inner'>
                                        <div class='item-title'>{{ plan.title }}</div>
                                        <div class='item-after'></div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
