<div id="viewHome" class="view view-main tab active">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">{{ _('All Notes') }}</div>
        </div>
    </div>
    <div class="pages navbar-through toolbar-through">
        <div data-page="homepage" class="page">
            <div class="page-content pull-to-refresh-content">
                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>
                <div class="list-block media-list">
                    <ul>
                        <li class="item-content">
                            <a href="{{ url_for('note_detail', pk=1) }}" class="item-link item-content">
                                <div class="item-media">
                                    <img src="http://hhhhold.com/88/d/jpg?1" width="44">
                                </div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="list-block-label">
                        <p>Just pull page down to let the magic happen.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
