<div class="login-screen">
    <!-- Default view-page layout -->
    <div class="view">
        <div class="page">
            <!-- page-content has additional login-screen content -->
            <div class="page-content login-screen-content">
                <div class="login-screen-title">SportsApp</div>
                <!-- Login form -->
                <form action="{{ url_for('signin_api') }}" method="POST" class="signin-form">

                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{ _('email') }}</div>
                                    <div class="item-input">
                                        <input type="text" name="email" placeholder="{{ _('email') }}">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{ _('password') }}</div>
                                    <div class="item-input">
                                        <input type="password" name="password" placeholder="{{ _('password') }}">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list-block inset">
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-90">
                                <ul>
                                    <li>
                                        <a href="#" class="list-button item-link color-red signin-btn">{{ _('signin') }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5"></div>
                        </div>
                    </div>

                    <div class="list-block">
                        <div class="list-block-label">
                            <p>
                                <a href="{{ url_for('signup') }}">{{ _("signup") }}</a> 
                                or 
                                <a href="{{ url_for('oauth2_signin', oauth_port='qq') }}" class="external">
                                    <i class="icon iconfont icon-qq"></i>
                                    {{ _('qq') }}
                                </a> 
                                <a href="{{ url_for('oauth2_signin', oauth_port='douban') }}" class="=external">
                                    <i class="icon iconfont icon-douban"></i>
                                    {{ _('douban') }}
                                </a>

                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
