<div id="viewNoteDetail" class="view view-main">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"><i class="icon icon-back-blue"></i><span>back</span></a>
            </div>
            <div class="center sliding">{{ title }}</div>
        </div>
    </div>
    <div class="pages navbar-through">
        <div data-page="note-detail" class="page">
            <div class="page-content">
                <div class="content-block">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

</div>
