<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="{{ url_for('index') }}" class="external link"><i class="icon icon-back"></i><span>Back</span></a>
        </div>
        <div class="center sliding">{{ _('signup') }}</div>
    </div>
</div>
<div class="pages">
    <div data-page="signup" class="page">
        <div class="page-content">
            <form action="{{ url_for('signup_api') }}" method="POST" class="signup-form">
                <div class="content-block-title">Full Layout</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name='email' placeholder="{{ _('email') }}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name='nickname' placeholder="{{ _('nickname') }}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" name="password" placeholder="{{ _('password') }}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" name="repeat_password" placeholder="{{ _('repeat password') }}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="list-block inset">
                    <ul>
                        <li><a href="#" type="submit" class="list-button item-link color-red signup-btn">{{ _('signup') }}</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
