
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before { content: "\e600"; }

.icon-yonghu:before { content: "\e601"; }

.icon-mingpian:before { content: "\e602"; }

.icon-tupian:before { content: "\e603"; }

.icon-shezhi:before { content: "\e604"; }

.icon-shanchu:before { content: "\e605"; }

.icon-xinxi:before { content: "\e606"; }

.icon-xiai:before { content: "\e607"; }

.icon-bianji:before { content: "\e608"; }

.icon-renminbi:before { content: "\e609"; }

.icon-jian:before { content: "\e60a"; }

.icon-jia:before { content: "\e60b"; }

.icon-cuowu:before { content: "\e60c"; }

.icon-zhengque:before { content: "\e60d"; }

.icon-shuaxin:before { content: "\e60e"; }

.icon-qq:before { content: "\e616"; }

.icon-douban:before { content: "\e617"; }

.icon-anzhuo:before { content: "\e618"; }

.icon-github:before { content: "\e619"; }

.icon-bofang:before { content: "\e61a"; }

.icon-commentfill:before { content: "\e60f"; }

.icon-comment:before { content: "\e610"; }

.icon-likefill:before { content: "\e611"; }

.icon-like:before { content: "\e612"; }

.icon-more:before { content: "\e613"; }

.icon-form:before { content: "\e614"; }

.icon-pic:before { content: "\e615"; }

i.tabbar-icon {
  width: 30px;
  height: 30px;
  font-size: 28px;
}
.active i.tabbar-icon {

}

.hidden-toolbar {
     z-index: -100
}

.item-kind {
    margin: 15px 0;
}
